body{
    margin:0;
    background-color:rgb(46, 65, 82);
    color:white;
}
.header{
    display:flex;
    padding:25px 200px;
    justify-content:space-evenly;
    background-color:rgb(113, 140, 163)
}

#title{
    display:flex;
    font-size:48px;
    font-weight:bold;
}

.body{
    display:flex;
    padding:50px;
    font-size:35px;
    justify-content:center;
}

.game{
    display:flex;
    justify-content:space-around;
    flex-direction:column;
}

.images{
    display:flex;
    justify-content:space-evenly;
}


.button:hover{
    cursor: pointer;
    transform: scale(1.1);
}

.players{
    display:flex;
    justify-content:space-between;
    padding-top:50px;
    font-size:48px;
    margin-left:225px;
    margin-right:200px;
}

.counter{
    display:flex;
    flex-direction: row;
    justify-content:space-between;
    font-size:100px;
    margin: 0px 300px;
}
#rounds{
    display:flex;
    height:200px;
    justify-content:center;
    font-size:48px;
    padding-top:50px;
}

#end-game.disappear,
.disappear {
    display:none;
}