body{
    margin:0;
    background-color:rgb(46, 65, 82);
    color:white;
}
.header{
    display:flex;
    padding:25px 200px;
    justify-content:space-evenly;
    background-color:rgb(113, 140, 163)
}

.title{
    display:flex;
    font-size:48px;
    font-weight:bold;
}

.body{
    display:flex;
    padding:50px;
    font-size:35px;
    justify-content:center;
}

.game{
    display:flex;
    justify-content:space-around;
    flex-direction:column;
}

.images{
    display:flex;
    justify-content:space-evenly;
    padding:25px;
}

.counter{
    display:flex;
    justify-content:space-around;
    padding:25px;
    font-size:24px;
}