body{
    margin:0;
    background-color:rgb(46, 65, 82);
    color:white;
}
.header{
    display:flex;
    padding:25px 200px;
    justify-content:space-evenly;
    background-color:rgb(113, 140, 163)
}

#title{
    display:flex;
    font-size:48px;
    font-weight:bold;
}

.body{
    display:flex;
    padding:50px;
    font-size:35px;
    justify-content:center;
}

.game{
    display:flex;
    justify-content:space-around;
    flex-direction:column;
}

.images{
    display:flex;
    justify-content:space-evenly;
}


.button:hover{
    cursor: pointer;
    transform: scale(1.1);
}

.players{
    display:flex;
    justify-content:space-between;
    padding-top:50px;
    font-size:48px;
    margin-left:225px;
    margin-right:200px;
}

.counter{
    display:flex;
    flex-direction: row;
    justify-content:space-between;
    font-size:100px;
    margin: 0px 300px;
}
#rounds{
    display:flex;
    height:200px;
    justify-content:center;
    font-size:48px;
    padding-top:50px;
}

#end-game.disappear,
.disappear {
    display:none;
}
#end-game{
    display:flex;
    flex-direction:column;
    align-items:center;
}
#end-body{
    display:flex;
    font-size:48px;
    justify-content:center;
    margin-top:300px;
}

#play-again{
    display:inline-block;
    border-style:solid;
    padding:15px;
    margin-top: 25px;
    border-radius:10px;
    background-color:rgb(66, 111, 151);
    border-color:rgb(103, 155, 201);
    font-size:24px;
}

#play-again:hover{
    cursor:pointer;
    background-color:rgb(93, 106, 131);
    border-color:rgb(92, 148, 170);
}